.profile-main {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  .info-message {
    margin-top: -30px;
    padding-left: 2px;
    span {
      color: #8598db;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  Label {
    display: flex;
    flex-direction: column;
  }
  button {
    border: none;
    padding: 10px;
    margin-top: 34px;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 42px;
  }
  p {
    margin-bottom: 13px;
  }
}
